<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Libs -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
		<link href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" rel="stylesheet"/>
		<!-- CSS -->
		<link rel="stylesheet" href="./public/styles/colors.css" />
		<link rel="stylesheet" href="./public/styles/main.css" />
		<link rel="stylesheet" href="./public/styles/scanlines.css" />
		<link rel="stylesheet" href="./public/styles/home.css" />
		<link rel="stylesheet" href="./public/styles/nav.css" />
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" />
		<!-- Scripts -->
		<script src="./public/scripts/globals.js" defer></script>
		<script src="./public/scripts/bootup.js" defer></script>
		<script src="./public/scripts/cli.js" defer></script>
		<script src="./public/scripts/home.js" defer></script>
		<script src="./public/scripts/draggable.js" defer></script>
		<!-- Font Awesome -->
		<script src="https://kit.fontawesome.com/47ace9daa2.js" crossorigin="anonymous"></script>
		<title>Augusta Developer</title>
	</head>
	<body>
		<!-- Navigation -->
		<%- // include('./partials/nav.ejs') %>

		<!-- Terminal -->
		<section class="content drag-container vh-100 txt-primary d-flex flex-column justify-center align-center">
			<div class="shortcut shortcut-4 mute-btn"><i class="fas fa-volume-up"></i></div>
			<div class="shortcut shortcut-1 d-flex flex-column jusitfy-center align-center">
				<div class="terminal-icon"></div>
				<p>terminal</p>
			</div>
			<div class="shortcut shortcut-2 d-flex flex-column jusitfy-center align-center">
				<div class="net-icon"></div>
				<p>internet</p>
			</div>
			<div class="shortcut shortcut-3 d-flex flex-column justify-content align-center">
				<div class="txt-icon"></div>
				<p>readme.txt</p>
			</div>
			<div id="window-display" class="drag-item minimize transition">
				<div class="fakeMenu">
					<div class="fakeButtons fakeClose"></div>
					<div class="fakeButtons fakeMinimize"></div>
					<div class="fakeButtons fakeZoom"></div>
				</div>
				<div class="window">
					<div id="terminal"></div>
				</div>
			</div>
		</section>
	</body>
</html>
