<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS -->
		<link rel="stylesheet" href="./public/styles/colors.css" />
		<link rel="stylesheet" href="./public/styles/main.css" />
		<link rel="stylesheet" href="./public/styles/scanlines.css" />
		<link rel="stylesheet" href="./public/styles/nav.css" />
		<link rel="stylesheet" href="./public/styles/home.css" />
		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" />
		<title>Augusta Developer</title>
	</head>
	<body>
		<!-- Navigation -->
		<nav class="txt-primary">
			<div class="container h-100 d-flex justify-between align-center">
				<h2 class="txt-shadow-primary">Augusta Developer</h2>

				<ul class="d-flex align-center">
					<li class="px-3 txt-shadow-primary">Home</li>
					<li class="px-3 txt-shadow-primary">Events</li>
					<li class="px-3 txt-shadow-primary">News</li>
					<li class="px-3 txt-shadow-primary">About</li>
					<li class="px-3 txt-shadow-primary">Resources</li>
				</ul>
			</div>
		</nav>

		<!-- Content -->
		<section class="content"></section>

		<!-- Footer -->
	</body>
</html>
