<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS -->
		<link rel="stylesheet" href="./public/styles/colors.css" />
		<link rel="stylesheet" href="./public/styles/main.css" />
		<link rel="stylesheet" href="./public/styles/scanlines.css" />
		<link rel="stylesheet" href="./public/styles/home.css" />
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" />
		<!-- Scripts -->
		<script src="./public/scripts/home.js" defer></script>
		<script src="./public/scripts/draggable.js" defer></script>
		<title>Augusta Developer</title>
	</head>
	<body>
		<!-- Terminal -->
		<section class="content drag-container vh-100 txt-primary d-flex flex-column justify-center align-center">
			<div style="user-select: none" id="window-display" class="drag-item">
				<div class="fakeMenu">
					<div class="fakeButtons fakeClose"></div>
					<div class="fakeButtons fakeMinimize"></div>
					<div class="fakeButtons fakeZoom"></div>
				</div>
				<div class="window">
					<div id="terminal"></div>
				</div>
			</div>
		</section>
	</body>
</html>
