body {
	overflow: hidden;
}

#window-display {
	height: 50vh;
	width: 60vw;
	border: 1px solid #bbb;
	border-radius: 5px;
	overflow: hidden;
	display: block;
	position: relative;
	display: flex;
	flex-flow: column;
	user-select: none;
	touch-action: none;
}

.minimize {
	transform: scale(0) !important;
}

.transition {
	transition: 0.4s;
}

.window {
	height: 100%;
	width: 100%;
	padding: 0.5rem;
	overflow-y: scroll;
	display: block;
	position: relative;
	flex: 0 1 auto;
	background: var(--black);
}

.fakeMenu {
	flex: 0 1 40px;
	width: 100%;
	box-sizing: border-box;
	background-color: #444;
	margin: 0 auto;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
}

.fakeButtons {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 1px solid #000;
	position: relative;
	top: 6px;
	left: 6px;
	background-color: #ff3b47;
	border-color: #9d252b;
	display: inline-block;
}

.fakeClose:before {
	content: '';
	top: 3px;
	left: 3px;
	border-radius: 100%;
	width: 7px;
	height: 7px;
	position: absolute;
	transition: background-color 0.1s ease;
}

.fakeClose:hover:before {
	background-color: #b52629;
}

.fakeMinimize {
	left: 11px;
	background-color: #ffc100;
	border-color: #9d802c;
}

.fakeMinimize:before {
	content: '';
	top: 5px;
	left: 3px;
	border-radius: 100%;
	width: 7px;
	height: 3px;
	position: absolute;
	transition: background-color 0.1s ease;
}

.fakeMinimize:hover:before {
	background-color: #c19715;
}

.fakeZoom {
	left: 16px;
	background-color: #00d742;
	border-color: #049931;
}

.shortcut {
	position: absolute;
	cursor: pointer;
	transition: 0.4s;
}

.shortcut:hover p {
	text-shadow: 0 0 10px var(--primary);
}

.shortcut-1 {
	top: 5%;
	left: 5%;
}

.shortcut-2 {
	top: 25%;
	left: 5%;
}

.shortcut-2 p {
	position: relative;
	top: -20px;
}

.shortcut-3 {
	bottom: 15%;
	right: 5%;
}

.shortcut-4 {
	top: 5%;
	right: 5%;
}

.terminal-icon {
	height: 50px;
	width: 50px;
	background: url('../img/terminal.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.net-icon {
	height: 81px;
	width: 81px;
	background: url('../img/net.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.txt-icon {
	height: 50px;
	width: 50px;
	background: url('../img/txt-icon.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.fullscreen {
	height: 100vh !important;
	width: 100vw !important;
	transform: none !important;
}
